.btn.btn-primary {
    font-family: $primaryFontMedium;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    background-color: $beige;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    padding: 17px 30px;
    @media(max-width: $md) {
        font-size: 12px;
        line-height: 14px;
        padding: 12px 20px;
    }
}