.btn.btn-primary {
	font-family: $primaryFontMedium;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.03em;
	background-color: $accent;
	text-transform: uppercase;
	padding: 17px 30px 15px;
	border: none;
	border-radius: 0;
}
