.btn.btn-primary {
	font-family: $primaryFontMedium;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	border: none;
	border-radius: 0;
	background-color: $accent;

	padding: 17px 30px 15px;
}
