.carousel {
	margin-top: 126px;

	&-item {
		&__content {
			@include flex-row;
		}

		&__description,
		&__image {
			@include flex-column;
			flex: 1;
			justify-content: center;
			align-items: flex-start;
		}

		// =================== title ========================
		&__first-title {
			font-family: $primaryFontMedium;
			font-size: 30px;
			line-height: 37px;
			letter-spacing: 0.02em;
			color: $black;
		}

		&__second-title {
			font-family: $primaryFontBold;
			font-size: 55px;
			line-height: 67px;
			letter-spacing: 0.04em;
			color: $black;

			margin: 35px 0 55px;
		}

		// =================== price ========================
		&__old-price {
			font-family: $primaryFontBold;
			font-size: 24px;
			line-height: 29px;
			letter-spacing: 0.05em;

			position: absolute;
			top: 40px;
			right: 7px;
		}

		&__new-price {
			font-family: $primaryFontBold;
			font-size: 42px;
			line-height: 51px;
			letter-spacing: 0.02em;
			color: #d84033;

			position: absolute;
			top: 83px;
			right: 0;
		}
	}

	&-indicators {
		position: static !important;
		margin-top: 130px;

		button {
			width: 40px !important;
			height: 7px !important;
			background-color: #cecece !important;

			margin: 0 7.5px !important;

			&.active {
				background-color: $accent !important;
			}
		}
	}
}
