.carousel {
    margin-top: 126px;
    &-indicators {
        position: static !important;
        margin-top: 130px;
        button {
            width: 40px !important;
            height: 7px !important;
            margin: 0 7.5px !important;
            background-color: #CECECE !important;
            &.active {
                background-color: $beige !important;
            }
        }
    }
    &-item {
        &__content {
            @include flex-row;
        }
        &__description,
        &__image {
            flex: 1;
            @include flex-column;
            justify-content: center;
            align-items: flex-start;
        }
        &__first-title {
            font-family: $primaryFontMedium;
            font-size: 30px;
            line-height: 37px;
            letter-spacing: 0.02em;
        }
        &__second-title {
            font-family: $primaryFontBold;
            font-size: 55px;
            line-height: 67px;
            letter-spacing: 0.04em;
            margin: 35px 0 55px;
        }
        &__old-price {
            position: absolute;
            right: 7px;
            top: 40px;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            font-family: $primaryFontBold;
        }
        &__new-price {
            osition: absolute;
            right: 0px;
            top: 83px;
            font-size: 42px;
            line-height: 51px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #D84033;
            font-family: $primaryFontBold;
        }
    }
}