.catalog {
  &-item {
    padding: 0 !important;
    position: relative;
    &__title {
      font-family: $primaryFontRegular;
      font-size: 21px;
      line-height: 26px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      position: absolute;
      bottom: 24px;
      left: 30px;
    }
    img {
      width: 100%;
    }
  }
}