.catalog {
	&-item {
		position: relative;
		padding: 0 !important;

		&__title {
			font-family: $primaryFontRegular;
			font-size: 21px;
			line-height: 26px;
			letter-spacing: 0.03em;
			text-transform: uppercase;

			position: absolute;
			left: 30px;
			bottom: 24px;

			// .catalog__title @media
			@media (max-width: $md) {
				font-size: 20px;
				line-height: 24px;
			}

			// .catalog__title @media
			@media (max-width: $sm) {
				font-size: 16px;
				line-height: 20px;
				text-transform: none;
			}
		}

		img {
			width: 100%;
		}

		@media (max-width: $xs) {
			transform: scale(0.75);
		}
	}
}
