.collection {
    background: linear-gradient(to right, $cream 50%, $lightgray 50%);
    @media(max-width: $md) {
        background: linear-gradient(to bottom, $cream 50%, $lightgray 50%);
    }
    .container {
        @include flex-row;
        @media(max-width: $md) {
            @include flex-column;
        }
    }
    &-item {
        flex: 1;
        @include flex-column;
        justify-content: center;
        align-items: flex-start;
        font-family: $primeryFontMedium;
        padding: 60px 0 53px 20px;
        position: relative;
        &__title {
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            @media(max-width: $md) {
                font-size: 20px;
                line-height: 24px;
                text-transform: none;
            }
        }
        &__descr {
            font-size: 16px;
            line-height: 20px;
            margin: 25px 0 40px
        }
        .btn-primary {
            padding: 5px 30px;
        }
        &>img {
            position: absolute;
            bottom: 0;
            right: 15px;
            @media(max-width: $sm) {
                transform: scale(0.75);
                -webkit-transform: scale(0.75);
                -moz-transform: scale(0.75);
                -ms-transform: scale(0.75);
                -o-transform: scale(0.75);
            }
        }
    }
}