.collections {
	background: linear-gradient(to right, $cream 50%, $greyLight 50%);

	.container {
		@include flex-row;

		// .container @media
		// question: man.png не вписывается в фон
		@media (max-width: $md) {
			@include flex-column;
		}
	}

	&-item {
		font-family: $primaryFontMedium;

		@include flex-column;
		align-items: flex-start;
		flex: 1;

		position: relative;
		padding: 60px 0 58px 36px;

		&__title {
			font-size: 24px;
			line-height: 29px;
			letter-spacing: 0.03em;
			text-transform: uppercase;

			// .collections-item @media
			@media (max-width: $md) {
				font-size: 26px;
				line-height: 30px;
			}
		}

		&__description {
			font-size: 16px;
			line-height: 20px;

			margin: 25px 0 40px;
		}

		.btn.btn-primary {
			padding: 8px 34px;
		}

		& > img {
			position: absolute;
			bottom: 0;
			right: 0;

			@media (max-width: $xs) {
				transform: scale(0.75);
			}
		}
	}
}
