$white: #fff;
$black: #000;
$beige: #D7B399;
$backgroundBeige: #F9F6F1;
$darkGrey: #212121;
$lightGrey: #F4F4F4;

$primaryFontRegular: 'Montserrat Regular';
$primaryFontBold: 'Montserrat Bold';
$primaryFontExtraBold: 'Montserrat ExtraBold';
$primaryFontItalic: 'Montserrat Italic';
$primaryFontMedium: 'Montserrat Medium';
