$white: #fff;
$black: #000;
$beige:#D7B399;
$darkGrey: #212121;
$cream :#F9F6F1;
$lightGrey: #F4F4F4;

$primaryFontRegular: 'Montserrat Regular';
$primaryFontBold: 'Montserrat Bold';
$primaryFontExtraBold: 'Montserrat ExtraBold';
$primaryFontItalic: 'Montserrat Italic';
$primaryFontMedium: 'Montserrat Medium';

// breakpoint variables
$xxl: 1610px;
$xl: 1450px;
$lg: 1210px;
$md: 1034px;
$sm: 810px;
$xs: 490px;
