// =================== fonts ========================
$primaryFontRegular: "Montserrat Regular";
$primaryFontBold: "Montserrat Bold";
$primaryFontExtraBold: "Montserrat ExtraBold";
$primaryFontItalic: "Montserrat Italic";
$primaryFontMedium: "Montserrat Medium";

// =================== colors ========================
$white: #fff;
$black: #000;
$cream: #f9f6f1;
$accent: #d7b399;
$dark-grey: #212121;
