$white: #fff;
$black: #000;
$beige: #D7B399;

$primaryFontRegular: 'Montserrat Regular';
$primaryFontBold: 'Montserrat Bold';
$primaryFontExtraBold: 'Montserrat ExtraBold';
$primaryFontItalic: 'Montserrat Italic';
$primaryFontMedium: 'Montserrat Medium';
