$white: #fff;
$black: #000;
$beige: #D7B399;


$primaryFontRegular: "Montserrat Regular";
$primaryFontRegular: "Montserrat Bold";
$primaryFontRegular: "Montserrat ExtraBold";
$primaryFontRegular: "Montserrat Italic";
$primaryFontRegular: "Montserrat Medium";
