$white: #fff;
$black: #000;
$beige: #D7B399;
$darkgray: #212121;
$cream: #F9F6F1;
$primeryFontRegular: "Montserrat-Regular";
$primeryFontBold: "Montserrat-Bold";
$primeryFontExtraBold: "Montserrat-ExtraBold";
$primeryFontItalic: "Montserrat-Italic";
$primeryFontMedium: "Montserrat-Medium";
// breackpoint variables
$xxl: 1610px;
$xl: 1450px;
$lg: 1218px;
$md: 1034px;
$sm: 818px;
$xs: 498px;