$white: #fff;
$black:#000;
$beige:#D7B399;
$darkGray:#212121;
$cream:#F9F6F1;
$lightGray:#F4F4F4;
$primaryFontRegular: 'Montserrat Regular';
$primaryFontBold: 'Montserrat Bold';
$primaryFontExtraBold: 'Montserrat ExtraBold';
$primaryFontItalic: 'Montserrat Italic';
$primaryFontMedium: 'Montserrat Medium';