.free-delivery-section {
    background: $black;
}
.free-delivery-section .free-delivery-first-title {
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    margin: 80px 0 23px !important;
}
.free-delivery-first-title span {
    color: blue;
}