.free-delivery {
	font-family: $primaryFontRegular;
	text-align: center;
	color: $white;

	background-color: $greyDark;

	padding: 80px 0 70px;

	&__title {
		font-size: 30px;
		line-height: 37px;
		letter-spacing: 0.02em;
		text-transform: uppercase;

		margin-bottom: 23px;

		b {
			font-family: $primaryFontBold;
		}

		// .free-delivery__title @media
		@media (max-width: $md) {
			font-size: 26px;
			line-height: 30px;
		}
	}

	&_description {
		font-size: 21px;
		line-height: 26px;
	}
}
