.links {
  background-color: $darkGrey;
  color: $white;
  padding: 73px 0 78px;
  .container {
    @include flex-row;
    @media(max-width: $md) {
      @include flex-column;
    }
  }
  &__info {
    flex: 2;
    @media(max-width: $md) {
      @include flex-row;
      align-items: center;
      margin-bottom: 30px;
    }
    @media(max-width: $sm) {
      @include flex-column;
    }
  }
  &__descr {
    font-size: 14px;
    line-height: 22px;
    font-family: $primaryFontRegular;
    margin-top: 32px;
    width: 50%;
    @media(max-width: $md) {
      width: 100%;
      margin-left: 20px;
    }
  }
  &__navigation {
    flex: 3;
    @include flex-row;
    justify-content: space-between;
    @media(max-width: $md) {
      flex-wrap: wrap;
      text-align: center;
    }
    &-list {
      @media(max-width: $md) {
        margin-bottom: 15px;
        width: 50%;
      }
      &-title {
        font-size: 10px;
        line-height: 12px;
        font-family: $primaryFontBold;
        text-transform: uppercase;
      }
      ul {
        padding-left: 0;
        margin-top: 20px;
        list-style-type: none;
        li {
          font-size: 14px;
          line-height: 22px;
          color: #CBCFD4;
          margin: 5px 0;
          &.vk-link::before {
            content: url(../img/vk.png);
            padding-right: 5px;
          }
          &.fb-link::before {
            content: url(../img/fb.png);
            padding-right: 5px;
          }
          &.insta-link::before {
            content: url(../img/insta.png);
            padding-right: 5px;
          }
        }
      }
    }
  }
}
