.links {
    background-color: $darkGrey;
    color: $white;
    padding: 73px 0 78px;
    font-family: $primaryFontMedium;
    .conteiner {
        @include flex-row;
    }
    &__about {
        flex: 1;
        font-style: 40px;
        line-height: 22px;
        p {
            margin-top: 32px;
        }
    }
    &__lists {
        flex: 3;
        &-item {
            &-title {
                font-style: 10px;
                line-height: 12px;
                font-family: $primaryFontBold;
            }
            ul {
                list-style-type: none;
                padding-left: 0;
                margin-top: 20px;
                li {
                    font-style: 14px;
                    line-height: 22px;
                    color: blue;
                    margin: 5px 0;
                }
            }
        }
}