.main-links {
	color: $white;
	background-color: $greyDark;

	padding: 73px 0 78px;

	.container {
		@include flex-row;
	}
}

.main-links-info {
	flex: 2;

	&__description {
		font-family: $primaryFontRegular;
		font-size: 14px;
		line-height: 22px;

		width: 50%;

		margin-top: 32px;
	}
}

.main-links__navigation {
	@include flex-row;
	justify-content: space-between;
	flex: 3;

	&-list {
		&-title {
			font-family: $primaryFontBold;
			font-size: 10px;
			line-height: 12px;
			text-transform: uppercase;
		}

		ul {
			padding-left: 0;
			margin-top: 20px;
		}

		li {
			font-family: $primaryFontMedium;
			font-size: 14px;
			line-height: 22px;
			color: #cbcfd4;

			list-style-type: none;
			margin: 5px 0;

			&.social-links {
				&__vk::before {
					content: url(../img/icons/vk.svg);
					padding-right: 5px;
				}
				&__fb::before {
					content: url(../img/icons/fb.svg);
					padding-right: 5px;
				}
				&__inst::before {
					content: url(../img/icons/inst.svg);
					padding-right: 5px;
				}
			}
		}
	}
}
