@import "./fonts.scss";
@import "./constants.scss";
@import "./mixins.scss";
@import "./button.scss";

// =================== home section ========================
.home-section {
  background-color: $cream;
  padding: 50px 0 70px;
}
@import "./navbar.scss";
@import "./carousel.scss";
@import "./model.scss";

// =================== free delivery ========================
.free-delivery {
  background-color: $dark-grey;
  text-align: center;
  color: $white;
  padding: 80px 0 70px;
  font-family: $primaryFontRegular;

  &__title {
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 23px;

    b {
      font-family: $primaryFontBold;
    }
  }

  &_description {
    font-size: 21px;
    line-height: 26px;
  }
}

// =================== collections ========================
.collections {
  background: linear-gradient(to right, $cream 50%, $light-grey 50%);
  .container {
    @include flex-row;
  }

  &-item {
    position: relative;
    @include flex-column;
    align-items: flex-start;
    flex: 1;
    padding: 60px 0 58px 36px;
    font-family: $primaryFontMedium;

    &__title {
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }

    &__description {
      font-size: 16px;
      line-height: 20px;
      margin: 25px 0 40px;
    }

    .btn.btn-primary {
      padding: 8px 34px;
    }

    & > img {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

// =================== catalog ========================
.catalog {
  &-item {
    position: relative;
    padding: 0 !important;

    &__title {
      position: absolute;
      left: 30px;
      bottom: 24px;
      text-transform: uppercase;
      font-family: $primaryFontRegular;
      font-size: 21px;
      line-height: 26px;
      letter-spacing: 0.03em;
    }

    img {
      width: 100%;
    }
  }
}

// =================== models ========================
.model {
  text-align: center;
  padding: 150px 0;

  &__title {
    color: $dark-grey;
    font-family: $primaryFontBold;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  &__content {
    @include flex-row;
    justify-content: space-between;
    margin: 103px 0;
  }
  .btn.btn-primary {
    img {
      margin-left: 9px;
    }
  }
}
