@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin navbar-point {
  color: $black;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  font-family: $primaryFontMedium;
}
