@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin navbar-point {
  color: $darkGrey;
  font-family: $primaryFontMedium;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
}
