.model-item {
    &__title {
    font-family: $primaryFontBold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    }
    &__price {
        font-family: $primaryFontBold;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: beige
    }
    img {
        padding: 22px 25px 25px 25px;
    }
}