.models {
  padding: 150px 0;
  text-align: center;
  &__title {
    font-family: $primaryFontBold;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $darkGrey;
  }
  &__content {
    @include flex-row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 103px 0;
    @media(max-width: $sm) {
      justify-content: center;
    }
  }
  .btn.btn-primary img {
    margin-left: 9px;
  }
}