.model-item {
	position: relative;
	&__title {
		font-family: $primaryFontBold;
		font-size: 14px;
		line-height: 17px;
	}
	&__price {
		font-family: $primaryFontBold;
		font-size: 18px;
		line-height: 22px;
		color: $accent;
		margin: 15px 0 25px;
	}
	img {
		padding: 22px 25px 25px;
	}

	.borderLeftTop {
		position: absolute;
		top: 0;
		left: 0;
		height: 25px;
		width: 3px;
		background-color: $accent;
	}
	.borderTopLeft {
		position: absolute;
		top: 0;
		left: 0;
		height: 3px;
		width: 25px;
		background-color: $accent;
	}
	.borderRightBottom {
		position: absolute;
		bottom: 0;
		right: 0;
		height: 25px;
		width: 3px;
		background-color: $accent;
	}
	.borderBottomRight {
		position: absolute;
		bottom: 0;
		right: 0;
		height: 3px;
		width: 25px;
		background-color: $accent;
	}
}
