.navbar {
  &-dropdowns {
    @include flex-row;
    .dropdown button {
      border: 0;
      background-color: transparent;
      @include navbar-point;
    }
    @media (max-width: $md) {
      display: none;
    }
  }
  &-points {
    @include flex-row;
    &__point {
      @include navbar-point;
      margin-right: 35px;
    }
    @media (max-width: $md) {
      display: none;
    }
  }
  &-bag {
    @include flex-row;
    align-items: center;
    &__count {
      @include flex-row;
      align-items: center;
      margin-left: 15px;
      margin-top: 8px;
      span {
        font-size: 12px;
        line-height: 16px;
        color: $white;
        font-family: $primaryFontBold;
        background-color: $beige;
        padding: 0 13px;
      }
      &::before {
        content: '';
        border-right: 17px solid $beige;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
      }
    }
  }
}
