.navbar {
  &-dropdowns {
    @include flex-row;
    .dropdown button {
      color: $darkGrey;
      font-family: $primaryFontMedium;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.03em;
      background-color: transparent;
      border: none;
    }
  }
  &-points {
    @include flex-row;
    &__point {
      color: $darkGrey;
      font-family: $primaryFontMedium;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.03em;
      margin-right: 35px;
    }
  }
  &-bag {
    @include flex-row;
    align-items: center;
    &__count {
      margin-left: 15px;
      margin-top: 8px;
      display: flex;
      align-items: center;
      span {
        font-family: $primaryFontBold;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.03em;
        color: $white;
        background-color: $beige;
        padding: 0 13px;
      }
      &:before {
        content: '';
        border-right: 13px solid $beige;
        border-top: 7.5px solid transparent;
        border-bottom: 7.5px solid transparent;
      }
    }
  }
}