.navbar {
	// ============== Выпадающие списки ===================
	&-dropdowns {
		@include flex-row;

		.dropdown button {
			@include navbar-point;
			background-color: transparent;
			border: none;
		}
	}

	// ============== Оплата и доставка ===================
	&-points {
		@include flex-row;

		&__point {
			@include navbar-point;
		}
		&__point:first-child {
			margin-right: 35px;
		}
	}

	// ============== Корзина ===================
	&-bag {
		@include flex-row;
		align-items: center;

		&__count {
			margin: 8px 0 0 15px;
			@include flex-row;
			align-items: center;

			span {
				font-family: $primaryFontBold;
				font-size: 12px;
				line-height: 15px;
				letter-spacing: 0.03em;
				color: $white;
				background-color: $accent;

				padding: 0 13px;
			}
			&::before {
				content: "";
				border-top: 7.5px solid transparent;
				border-bottom: 7.5px solid transparent;
				border-right: 13px solid $accent;
			}
		}
	}
}
