.subscribe {
	background-color: $greyDark;

	padding: 70px 0;

	.container {
		@include flex-row;
		justify-content: space-between;
	}

	&__title {
		@include flex-row;
		align-items: center;

		font-family: $primaryFontBold;
		font-size: 30px;
		font-weight: 700;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		color: $white;
	}

	&__form {
		@include flex-row;

		input {
			height: 100%;
			width: 255px;

			background-color: #f9f6f1;
			border: none;

			padding: 0 0 0 20px;
			margin-right: 35px;

			&::placeholder {
				font-family: $primaryFontRegular;
				font-size: 12px;
				letter-spacing: 0.02em;
				line-height: 15;
				color: #8d8d8d;
			}
		}
	}
}
