.subscribe {
    padding: 70px 0;
    background-color: $darkgray;
    .container {
        @include flex-row;
        justify-content: space-between;
        align-items: center;
        @media(max-width: $md) {
            @include flex-column;
        }
    }
    &__title {
        font-size: 30px;
        line-height: 37px;
        color: $white;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        font-family: $primeryFontBold;
        @media(max-width: $md) {
            font-saze: 22px;
            text-align: center;
            margin-bottom: 10px;
        }
    }
    &__form {
        display: flex;
        input {
            background-color: $cream;
            border: 0;
            margin-right: 35px;
            padding-left: 20px;
            width: 255px;
            &::placeholder {
                font-weight: 300;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 0.02em;
                color: #8D8D8D;
            }
        }
    }
}