.subscribe {
  padding: 72px 0;
  background-color: $darkGrey;
  .container {
    @include flex-row;
    justify-content: space-between;
  }
  &__title {
    font-size: 30px;
    line-height: 37px;
    font-family: $primaryFontBold;
    text-align: center;
    letter-spacing: 0.02em;
    color: $white;
    display: flex;
    align-items: center
  }
  &__form {
    @include flex-row;
    input {
      background-color: $cream;
      border: 0;
      margin-right: 35px;
      width: 255px;
      padding-left: 20px;
      &::placeholder {
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.02em;
        color: #8D8D8D;
      }
      &:focus {
        outline: 0;
      }
    }
  }
}