<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
       .carousel-item_content
            .carousel-item_description
                .carousel-item_first-title Зимняя распродажа
                h1 СКИДКИ ДО 90%
                button.btn.btn-primary(type="button") СМОТРЕТЬ МОДЕЛИ
            .carousel-item_picture
                .carousel-item_old-price 
                s 9 900 ₽ 
                .carousel-item_new-price 1 900 ₽
                <img src="../img/sneaker.png" class="d-block w-100" alt="slide-image">
    </div>
    <div class="carousel-item">
        .carousel-item_content
            .carousel-item_description
                .carousel-item_first-title Зимняя распродажа
                h1 СКИДКИ ДО 90%
                button.btn.btn-primary(type="button") СМОТРЕТЬ МОДЕЛИ
            .carousel-item_picture
                .carousel-item_old-price 
                s 9 900 ₽ 
                .carousel-item_new-price 1 900 ₽
                <img src="../img/sneaker.png" class="d-block w-100" alt="slide-image">
    </div>
    <div class="carousel-item">
        .carousel-item_content
            .carousel-item_description
                .carousel-item_first-title Зимняя распродажа
                h1 СКИДКИ ДО 90%
                button.btn.btn-primary(type="button") СМОТРЕТЬ МОДЕЛИ
            .carousel-item_picture
                .carousel-item_old-price 
                s 9 900 ₽ 
                .carousel-item_new-price 1 900 ₽
                <img src="../img/sneaker.png" class="d-block w-100" alt="slide-image">
    </div>
    <div class="carousel-item">
        .carousel-item_content
            .carousel-item_description
                .carousel-item_first-title Зимняя распродажа
                h1 СКИДКИ ДО 90%
                button.btn.btn-primary(type="button") СМОТРЕТЬ МОДЕЛИ
            .carousel-item_picture
                .carousel-item_old-price 
                s 9 900 ₽ 
                .carousel-item_new-price 1 900 ₽
                <img src="../img/sneaker.png" class="d-block w-100" alt="slide-image">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>