mixin catalogItem(color) 
  .col.catalog-item
    .catalog-item__title Платья
    img(src="../img/" + color + 'Shirt.png', alt="shirt")

section.catalog.container
  .row
    +catalogItem('grey')
    +catalogItem('beige')
    +catalogItem('grey')
    +catalogItem('beige')
  .row
    +catalogItem('beige')
    +catalogItem('grey')
    +catalogItem('beige')
    +catalogItem('grey')
