mixin catalogItem(color)
	.col.catalog-item
		.catalog-item__title Платья
		img(src="../img/catalog/" + color + "-shirt.png", alt= color + "shirt")

section.catalog.container
	.row
		+catalogItem("grey")
		+catalogItem("cream")
		+catalogItem("grey")
		+catalogItem("cream")
	.row
		+catalogItem("cream")
		+catalogItem("grey")
		+catalogItem("cream")
		+catalogItem("grey")