mixin catalogItem(color)
<<<<<<< HEAD
    .catalog-item.col
        .catalog-item__title Платья
        img(src="../img/" + color + "Shirt.png", alt="shirt")

section.catalog.container
    .row
        +catalogItem('grey')
        +catalogItem('beige')
        +catalogItem('grey')
        +catalogItem('beige')
    .row
        +catalogItem('beige')
        +catalogItem('grey')
        +catalogItem('beige')
        +catalogItem('grey')
=======
  .catalog-item.col 
    .catalog-item__title Платья
    img(src="../img/" + color + "Shirt.png", alt="shirt")

section.catalog.container
  .row
    +catalogItem('grey')
    +catalogItem('beige')
    +catalogItem('grey')
    +catalogItem('beige')
  .row 
    +catalogItem('beige')
    +catalogItem('grey')
    +catalogItem('beige')
    +catalogItem('grey')
>>>>>>> e5d3a96120483c97b59bf4468a8315ef79b72e84
