include ./mixin.pug

section.catalog.container
	.row
		+catalogItem("grey")
		+catalogItem("cream")
		+catalogItem("grey")
		+catalogItem("cream")
	.row
		+catalogItem("cream")
		+catalogItem("grey")
		+catalogItem("cream")
		+catalogItem("grey") 