section.collection 
    .container 
        .conteiner-item 
            .conteiner-item__title 
                b Мужская 
                | коллекция
            .conteiner-item__descr Обувь, полуверы, костюмы
            button.btn.btn-primary(type="button")
                img(src="../img/Arrow.png", alt="arrow")
            img(src="../img/men.png", alt="men")
        .conteiner-item 
            .conteiner-item__title 
                b Женская 
                | коллекция
            .conteiner-item__descr Обувь, полуверы, костюмы
            button.btn.btn-primary(type="button")
                img(src="../img/Arrow.png", alt="arrow")
            img(src="../img/woman.png", alt="woman")