section.collections 
  .container 
    .collections-item 
      .collections-item__title 
        b Мужская
        | коллекция
      .collections-item__descr Обувь, полуверы, костюмы
      button.btn.btn-primary  
        img(src="../img/Arrow.png", alt="arrow")
      img(src="../img/man.png", alt="man")
    .collections-item 
      .collections-item__title 
        b Женская
        | коллекция
      .collections-item__descr Обувь, полуверы, костюмы
      button.btn.btn-primary
        img(src="../img/Arrow.png", alt="arrow")
      img(src="../img/woman.png", alt="woman")
