section.collections
    .container
        .collections-item
            .collections-item__title
                b Мужская 
                | коллекция
            .collections-item__descr Обувь, полуверы, костюмы
            button.btn.btn-primary(type='button')
                img(src="../img/Arrow.png", alt="arrow")
            img(src="../img/men.png", alt="men")
        .collections-item
            .collections-item__title
                b Женская
                | коллекция
            .collections-item__descr Обувь, полуверы, костюмы
            button.btn.btn-primary(type='button')
                img(src="../img/Arrow.png", alt="arrow")
            img(src="../img/woman.png", alt="woman")