section.collection 
    .container
        .collection-item
            .collection-item__title 
                b МУЖСКАЯ 
                | КОЛЛЕКЦИЯ
            .collection-item__descr Обувь, полуверы, костюмы
            button.btn-primary
                img(src="../img/Arrow.png" alt="arrow")
            img(src="../img/man.png" alt="man")
        .collection-item
            .collection-item__title 
                b ЖЕНСКАЯ 
                | КОЛЛЕКЦИЯ
            .collection-item__descr Обувь, полуверы, костюмы
            button.btn-primary
                img(src="../img/Arrow.png" alt="arrow")
            img(src="../img/woman.png" alt="woman")
        