.collection-item__content 
        .collection-item__description 
          .collection-item__first-title 
          h3 <b>МУЖСКАЯ</b> КОЛЕКЦИЯ
          p Обувь, полуверы, костюмы
          button.btn.btn-primary_collection(type="button") &#8594;
        .collection-item__picture
            img(src="../img/man.png", alt="man")
.collection-item__content 
        .collection-item__description 
          .collection-item__first-title 
          h3 <b>ЖЕНСКАЯ</b> КОЛЕКЦИЯ
          p Обувь, полуверы, костюмы
          button.btn.btn-primary_collection(type="button") &#8594;
        .collection-item__picture
            img(src="../img/woman.png", alt="woman")
            