header
    nav.gender
        ul.nav-gender
            li.nav-item
                a(href="").nav-link Для мужчин
            li.nav-item
                a(href="").nav-link Для женщин
            li.nav-item
                a(href="").nav-link Для детей
    .logo
        img(src="../img/Frame.png", alt="logo")
        .logo-item the loop
    nav.action
        ul.nav-action
            li.nav-item
                a(href="").nav-link Оплата
            li.nav-item
                a(href="").nav-link Доставка
    .control
        .control-item
            button.control-btn_basket
                img(src="../img/Vector-2.png", alt="")/", alt="basket")
        .control-item
            img(src="../img/Group 6.png", alt="numb")    
