doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="./styles/main.css", rel="stylesheet")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl", crossorigin="anonymous")
    title THE LOOP - Магазин брендовой одежды
  body
    include ./mixin.pug
      
    //- ========= home section ===========
    section.home-section
      .container
        include ./navbar.pug
        include ./carousel.html


    //- ========= free delivery block ===========
    section.free-delivery 
      .free-delivery__title
        b Бесплатная доставка 
        |от 3000₽
      .free-delivery__description Сделайте заказ и получите подарок!


    //- ========= collections block ===========
    section.collections 
      .container

        //- item-1
        .collections-item
          .collections-item__title 
            b Мужская 
            |коллекция
          .collections-item__description Обувь, пуловеры, костюмы
          button.btn.btn-primary(type="button")
            img(src="../img/icons/arrow.svg", alt="arrow")
          img(src="../img/collections/man.png", alt="man")

        //- item-2
        .collections-item
          .collections-item__title 
            b Женская 
            |коллекция
          .collections-item__description Обувь, пуловеры, костюмы
          button.btn.btn-primary(type="button")
            img(src="../img/icons/arrow.svg", alt="arrow")
          img(src="../img/collections/woman.png", alt="woman")


    //- ========= catalog block ============
    include ./catalog.pug 


    //- ========= models block ============
    +models__block("Новые модели")
    

    //- ========= subscribe block ============
    section.subscribe
      .container
        .subscribe__title Получайте скидки и подарки
        .subscribe__form
          input(type="text", placeholder="Ваш e-mail")
          button.btn.btn-primary(type="button") Подписаться


    //- ========= models block ============
    +models__block("Скидки до 90%")


    //- ========= main-links block ============
    section.main-links
      .container

        .main-links-info
          img(src="../img/main-links/logo.png", alt="logo")
          .main-links-info__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla faucibus egestas elit, at eleifend elit ornare ut.
        
        .main-links__navigation
          .main-links__navigation-list 
            .main-links__navigation-list-title Основные ссылки
            ul 
              li О компании
              li Каталог
              li Доставка
              li Оплата

          .main-links__navigation-list 
            .main-links__navigation-list-title Категории
            ul 
              li О компании
              li Каталог
              li Доставка
              li Оплата

          .main-links__navigation-list 
            .main-links__navigation-list-title Полезные ссылки
            ul 
              li О компании
              li Каталог
              li Доставка
              li Оплата

          .main-links__navigation-list 
            .main-links__navigation-list-title Соцсети
            ul.social-links
              li.social-links__vk VK.com
              li.social-links__fb Facebook
              li.social-links__inst Instagram


    //- ========= footer block ============
    footer.footer
      .container 
        .footer__copyright Copyright © 2019. Все права защищены
        .footer__private-policy Политика приватности


    //- ========= javascript ============
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js", integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0", crossorigin="anonymous")
    script(src="../js/script.js")