doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="./styles/main.css", rel="stylesheet")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl", crossorigin="anonymous")
    title Document
  body
    section.home-section 
      .container
        include ./navbar.pug
        include ./carousel.pug
    section.free-delivery
      .free-delivery__title 
        b Бесплатная доставка 
        | от 3000₽
      .free-delivery__descr Сделайте заказ и получите подарок!
    section.collections 
      .container
        .collections-item
          .collections-item__title 
            b Мужская 
            | коллекция
          .collections-item__descr Обувь, полуверы, костюмы
          button.btn.btn-primary(type="button")
            img(src="../img/arrow.svg", alt="arrow")
          img(src="../img/men.png", alt="men")
        .collections-item
          .collections-item__title 
            b Женская 
            | коллекция
          .collections-item__descr Обувь, полуверы, костюмы
          button.btn.btn-primary(type="button")
            img(src="../img/arrow.svg", alt="arrow")
          img(src="../img/women.png", alt="women")
    include ./catalog.pug
    mixin modelsSection(title)
      section.models.container 
        .models__title= title
        .models__content
          -for(var x=0;x<4;x++)
            include ./model.pug
        button.btn.btn-primary(type="button") Все модели
          img(src="../img/arrow.svg", alt="arrow")
    +modelsSection('Новые модели')
    section.subscribe 
      .container 
        .subscribe__title ПОЛУЧАЙТЕ СКИДКИ И ПОДАРКИ
        .subscribe__form 
          input(type="text", placeholder="Ваш e-mail")
          button.btn.btn-primary(type="button") Подписаться
    +modelsSection('Скидки до 90%')
    section.main-links 
      .container 
        .main-links__info 
          img(src="../img/logoWhite.png", alt="logo")
          .main-links__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla faucibus egestas elit, at eleifend elit ornare ut.
        .main-links__navigation 
          .main-links__navigation-list 
            .main-links__navigation-list-title Основные ссылки
            ul 
              li О компании
              li Каталог
              li Доставка
              li Оплата
          .main-links__navigation-list 
            .main-links__navigation-list-title Основные ссылки
            ul 
              li О компании
              li Каталог
              li Доставка
              li Оплата
          .main-links__navigation-list 
            .main-links__navigation-list-title Основные ссылки
            ul 
              li О компании
              li Каталог
              li Доставка
              li Оплата
          .main-links__navigation-list 
            .main-links__navigation-list-title Соц сети
            ul.social-links
              li.social-links__vk VK.com
              li.social-links__fb Facebook
              li.social-links__insta Instagram
    footer.footer    
      .container 
        .footer__copyright Copyright © 2019. Все права защищены
        .footer__private-policy Политика приватности

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js", integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0", crossorigin="anonymous")