section.links 
  .container
    .links__about
      img(src="../img/logo1.png", alt="logo")
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla faucibus egestas elit, at eleifend elit ornare ut.
    .links__lists
      .links__lists-item 
        .links__lists-item-title Основные ссылки
        ul 
          li О компании
          li Каталог
          li Доставка
          li Оплата