section.links 
  .container 
    .links__info
      img(src="../img/logo_white.png", alt="logo")
      .links__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla faucibus egestas elit, at eleifend elit ornare ut.
    .links__navigation
      .links__navigation-list 
        .links__navigation-list-title Основные ссылки
        ul
          li О компании
          li Каталог
          li Доставка
          li Оплата
      .links__navigation-list 
        .links__navigation-list-title Основные ссылки
        ul
          li О компании
          li Каталог
          li Доставка
          li Оплата
      .links__navigation-list 
        .links__navigation-list-title Основные ссылки
        ul
          li О компании
          li Каталог
          li Доставка
          li Оплата
      .links__navigation-list 
        .links__navigation-list-title Соц сети
        ul
          li.vk-link VK.com
          li.fb-link Facebook
          li.insta-link Instagram