section.links 
    .container 
        .links__about
         img(src="../img/logo1.png", alt="logo")
         p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius repudiandae officia perferendis illum. Pariatur, esse. Nostrum iure quod nulla. Ipsa quibusdam ipsam id omnis quidem iste nisi pariatur ducimus voluptates.
        .links__lists
            .links__lists-item
                .links__lists-item-title Основные ссылки
                ul 
                    li О компании
                    li Каталог
                    li Доставка
                    li Оплата

