section.links
 .container
  .links__info
    img(src="./img/logo-white.png", alt="logo-white")
    .links__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla faucibus egestas elit, at eleifend elit ornare ut.  
  .links__navigation
    .links__navigation_list
      .links__navigation-list-title Основные ссылки
      ul
       li О компании
       li Каталог
       li Доставка
       li Оплата
    .links__navigation_list
      .links__navigation-list-title Основные ссылки
      ul
       li О компании
       li Каталог
       li Доставка
       li Оплата
    .links__navigation_list
      .links__navigation-list-title Основные ссылки
      ul
       li О компании
       li Каталог
       li Доставка
       li Оплата
    .links__navigation_list
      .links__navigation-list-title Основные ссылки
      ul
       li.vk-link О компании
       li.fb-link Каталог
       li.insta-link Доставка
       