.model-item 
    img(src="../img/model.png", alt="")
    .model-item__title Коктельное платье
    .model-item__price 40.000 Р
    .borderLeftTop 
    .borderTopLeft 
    .borderTopRight 
    .borderRightTop 
    .borderRightBottom 
    .borderBottomRight 
    .borderBottomLeft 
    .borderLeftBottom 