//- не работает

//- mixin catalogItem(color)
//- 	.col.catalog-item
//- 		.catalog-item__title Платья
//- 		img(src="../img/catalog/" + color + "-shirt.png", alt= color + "shirt")


//- ======== models block ========
mixin model__title(title)
      section.model.container
        .model__title= title
        .model__content
          -for(var x=0; x<4;x++)
            include ./models.pug
        button.btn.btn-primary(type="button") Все модели
          img(src="../img/icons/arrow.svg", alt="arrow")