.model 
    img(src="../img/model.png", alt="model")
    .model__title Коктейльное платье
    .model__price ₽ 40 000
    .border.top-left 
    .border.top-right 
    .border.bottom-right 
    .border.bottom-left