.model-item
	img(src="../img/models/model.png", alt="model")
	.model-item__title Коктейльное платье
	.model-item__price ₽ 40 000
	.borderLeftTop.border-mod
	.borderTopLeft.border-mod
	.borderTopRight.border-mod
	.borderRightTop.border-mod
	.borderRightBottom.border-mod
	.borderBottomRight.border-mod
	.borderBottomLeft.border-mod
	.borderLeftBottom.border-mod