mixin modelsSection(title)
  section.models 
    .container  
      .models__title= title
      .models__content 
        -for(var x=0;x<4;x++)
          include ./model.pug
      button.btn.btn-primary Все модели
        img(src="../img/Arrow.png", alt="arrow")

