
.model-item 
    img(src="../img/model.png" alt="model")
    .model-item__title Коктейльное платье
    .model-item__price ₽ 40 000
    .borderLeftTop 
    .borderTopLeft 
    .borderTopRight 
    .borderRightTop 
    .borderRightBottom 
    .borderBottombRight 
    .borderBottomLeft 
    .borderLeftBottom
