.model-item 
<<<<<<< HEAD
    img(src="../img/Model.png", alt="model")
    .model-item__title Коктейльное платье
    .model-item__price ₽ 40 000
    .borderTopLeft 
    .borderLeftTop
    .cornerBottom.right
    .cornerBottom.right
    .cornerBottom.top
=======
  img(src="../img/model.png", alt="model")
  .model-item__title Коктейльное платье
  .model-item__price ₽ 40 000
  .borderLeftTop
  .borderTopLeft
  .cornerBottom.right
  .cornerBottom.left
  .cornerBottom.top
>>>>>>> e5d3a96120483c97b59bf4468a8315ef79b72e84
