nav.navbar 
    .navbar-dropdowns
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown Для мужчин
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Одежда</a></li>
            <li><a class="dropdown-item" href="#">Обувь</a></li>
            <li><a class="dropdown-item" href="#">Прочее</a></li>
            </ul>
        </div>
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown Для женщин
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Одежда</a></li>
            <li><a class="dropdown-item" href="#">Обувь</a></li>
            <li><a class="dropdown-item" href="#">Прочее</a></li>
            </ul>
        </div>
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown Для детей
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Одежда</a></li>
            <li><a class="dropdown-item" href="#">Обувь</a></li>
            <li><a class="dropdown-item" href="#">Прочее</a></li>
            </ul>
        </div>
    .navbar-logo
        img(src="../img/logo.png", alt="logo")
    .navbar-points
        .navbar-points__point Оплата
        .navbar-points__point Доставка
    .navbar-bag
        img(src="../img/bag.png", alt="bag")
        .navbar-bag__count
            span 5