nav.navbar

	//- ============== dropdowns ===================
	.navbar-dropdowns

		//- ======== dropdown men =========
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
				Dropdown Для мужчин
			</button>
			<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
				<li><a class="dropdown-item" href="#">Одежда</a></li>
				<li><a class="dropdown-item" href="#">Обувь</a></li>
				<li><a class="dropdown-item" href="#">Аксессуары</a></li>
			</ul>
		</div>

		//- ======== dropdown women =========
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
				Dropdown Для женщин
			</button>
			<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
				<li><a class="dropdown-item" href="#">Одежда</a></li>
				<li><a class="dropdown-item" href="#">Обувь</a></li>
				<li><a class="dropdown-item" href="#">Аксессуары</a></li>
			</ul>
		</div>

		//- ======== dropdown kids =========
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
				Dropdown Для детей
			</button>
			<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
				<li><a class="dropdown-item" href="#">Одежда</a></li>
				<li><a class="dropdown-item" href="#">Обувь</a></li>
				<li><a class="dropdown-item" href="#">Аксессуары</a></li>
			</ul>
		</div>

	//- ============== navbar logo ===================
	.navbar-logo
		img(src="../img/navbar/logo.png", alt="THE LOOP")

	//- ============== points ===================
	.navbar-points
		.navbar-points__point Оплата
		.navbar-points__point Доставка

	//- ============== trash ===================
	.navbar-bag
		img(src="../img/navbar/bag.png", alt="Trash")
		.navbar-bag__count
			span 5