div.navbar-dropdown
  <ul class="nav nav-tabs">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Для мужчин</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Одежда</a></li>
      <li><a class="dropdown-item" href="#">Обувь</a></li>
      <li><a class="dropdown-item" href="#">Аксессуары</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Для женщин</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Одежда</a></li>
      <li><a class="dropdown-item" href="#">Обувь</a></li>
      <li><a class="dropdown-item" href="#">Аксессуары</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Для детей</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Одежда</a></li>
      <li><a class="dropdown-item" href="#">Обувь</a></li>
      <li><a class="dropdown-item" href="#">Аксессуары</a></li>
    </ul>
  </li>
  </ul>
div.navbar-logo
   img(src="../img/logo.png", alt="#")
.navbar-delivery
   <ul class="navbar-nav @include flex-row">
        <li class="nav-item">
          <a class="nav-delivery" href="#">Доставка</a>
        </li>
        <li class="nav-item">
          <a class="nav-pay" href="#">Оплата</a>
        </li>
   </ul>
.navbar-basket
  img(src="../img/Vector.png", alt="#")
  div.indicator 
   p 5
    
   