nav.navbar 
    .navbar-dropdowns
     <div class="dropdown">
       <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
         Dropdown Для мужчин
       </button>
     </div>
     <div class="dropdown">
       <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
         Dropdown Для женщин
       </button>
     <div class="dropdown">
       <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
         Dropdown Для детей
       </button>
     </div>
    .navbar-logo 
        img(src="../img/logo.png", alt="logo")
    .navbar-points
        .navbar-points__point Оплата
        .navbar-points__point Доставка
    .navbar-bag
        img(src="../img/bag.png", alt="bag")
    .navbar-bag__count 
        span 5 