section.subscribe
  .container
    .subscribe__title ПОЛУЧАЙТЕ СКИДКИ И ПОДАРКИ
    .subscribe__form
      input(type="text" placeholder="Ваш e-mail")
      button.btn.btn-primary(type="button") Подписаться
