<<<<<<< HEAD
    section.subscribe
        .conteiner
            .subscribe__title ПОЛУЧАЙТЕ СКИДКИ И ПОДАРКИ
            .subscribe__form 
             input(type="text" placeholder="Ваш t-mail")
             button.btn.btn-primary(type="button") Подписаться
=======
section.subscribe
  .container
    .subscribe__title ПОЛУЧАЙТЕ СКИДКИ И ПОДАРКИ
    .subscribe__form
      input(type="text" placeholder="Ваш e-mail")
      button.btn.btn-primary(type="button") Подписаться
>>>>>>> e5d3a96120483c97b59bf4468a8315ef79b72e84
