    section.subscribe
        .conteiner
            .subscribe__title ПОЛУЧАЙТЕ СКИДКИ И ПОДАРКИ
            .subscribe__form 
             input(type="text" placeholder="Ваш t-mail")
             button.btn.btn-primary(type="button") Подписаться